@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;600&family=Roboto&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
}
.side-br{
    background-color: #09174b;
    height: auto;
}
.side-br-logo{
    width: 70%;
}
.white-logo{
    max-width: 60%;
}
.all-percent{
    height: auto;
    width: 80%;
}
.bg-chartpool{
    background-color: #2a5297;
}
.search-box{
    border: 1px solid #e5e5e5;
}
.add-user-modal, .view-user-modal{
    width: 90%;
    font-family: 'Ubuntu', sans-serif;
}
.modal-cnt{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.modal-heading, .user-mod, .side-br{
    font-family:'Baloo Bhai 2', cursive; 
    font-weight: 600;
}
.nav-pills .nav-link.active, .nav-pills .show .nav-link{
background-color:rgba(238, 238, 238, 0.507);
}
.width-30{
    width:30%;
}
.width-35{
    width: 35%;
}
.width-60{
    width: 60%;
}
::placeholder{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
table, th, td{
    font-family: 'Roboto', sans-serif;
    border-radius: 3rem !important;
}
.mod-btn1{
    width: 180px;
}
.btn-cancel{
    background-color: #eee;
    border: 1px solid #09174b;
    width: 180px;
    box-shadow:  0px 2px 2px rgba(0, 0, 0.25);
}
.btn-cancel:hover, .btn-c2:hover{
    background-color:#09174b25;
}
.nav-link-hover{
    background-color: #e5e5e5;
}
.next-link{
    border-radius:5px;
    background-color:  #09174b !important;
    box-shadow: 0 2px rgba(0, 0, 0, 0.25);
    color: white;
}
.pg-link{
    color: #09174b;
}
.next-link:hover, .mod-btn1:hover{
    background-color: #09174b1a;
    box-shadow: 0 2px rgba(0, 0, 0, 0.25);
}
/* Extra styles for view modal */
.round-menu:hover, .view-link:hover{
   background-color: #09174b27;
}
.round-menu{
    /* position: absolute; */
    /* top:30px;
    right:50px; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.round-menu span{
    width: 7px;
    height: 7px;
    border-radius: 50%;

}
.user-img-container{
    width: 8rem;
    height: 8rem;
}
.blockuser-mod{
    border-radius: 20px;
    background-color: #eee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-c2{
    background-color: #ec1c24;
    color: white !important;
    border: 1px solid #000000;
    width: 180px;
    box-shadow:  0px 2px 2px rgba(0, 0, 0.25);
}
@media (max-width:769px) {
    .side-br{
        display: none !important;
    }
    .all-percent{
        width: 100vw;
    }
    
}